on:
  workflow_call:

jobs:
  Test:
    runs-on: ubuntu-22.10
    timeout-minutes: 15
    strategy:
      max-parallel: 2
      fail-fast: true
      matrix:
        build-type: [Debug, Release]

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install libczmq-dev libmpich-dev

    - name: Configure CMake
      run: |
        c_compile_flags="-Wall -Wextra -Wpedantic -Werror"
        san_flags=""
        if [[ ${{ matrix.build-type }} == Debug ]]; then
          echo "Enabling sanitizers"
          san_flags="-DQV_SANITIZE=address"
        fi
        cmake \
        -B ${{github.workspace}}/build \
        -DCMAKE_BUILD_TYPE=${{matrix.build-type}} \
        -DCMAKE_C_FLAGS="$c_compile_flags" \
        -DCMAKE_CXX_FLAGS="$c_compile_flags" \
        $san_flags

    - name: Build Code
      run: |
        cmake \
        --build ${{github.workspace}}/build \
        --config ${{matrix.build-type}} -j

    - name: Run Core Tests
      working-directory: ${{github.workspace}}/build
      run: ctest -L core -C ${{matrix.build-type}} --output-on-failure

    - name: Run All Tests
      working-directory: ${{github.workspace}}/build
      if: ${{ matrix.build-type == 'Release' }}
      run: ctest -C ${{matrix.build-type}} --output-on-failure

    - name: Test Packaging
      working-directory: ${{github.workspace}}/build
      run: make package_source
